---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About"
  description="Ben Brannen - Problem Solver Through Technology"
  pubDate={new Date("September 15 2023")}
  heroImage="/atl_thon.jpg"
>
  <h2>Welcome!</h2>
  <p>
    Hello! I'm Ben, an Atlanta native with a passion for leveraging technology
    to solve complex problems. Whether it's Model building, automating data
    flow, scripting, or data analysis my goal is to drive transformational
    change and deliver immediate value.
  </p>

  <h4>Personal Highlights & Accomplishments</h4>
  <ul>
    <li>2x Marathon runner</li>
    <li>Erlenger Marathon, Chattnooga 2021</li>
    <li>Publix Marathon, Atlanta 2023</li>

    <li>
      <a
        href="https://lookerstudio.google.com/u/0/reporting/29998d2b-7d6e-4f42-b4e7-cfa489bff4a9/page/tlXZD"
        >102 days straight of 5k+</a
      >
    </li>
    <li>Guitar enthusiast, self taught</li>
    <li>Aspiring developer</li>
    <li>Avid Skier</li>
  </ul>
  <h4>Technical Expertise:</h4>
  <ul>
    <li>Google Sheets & Excel Master</li>
    <li>GSuite Automation</li>
    <li>Google Apps Scripting</li>
    <li>Google Analytics</li>
    <li>
      Proficient with Tableau, PowerBI, and Looker Studio for data visualization
    </li>
    <li>Python, SQL, BASH</li>
    <li>Unix / Linux Terminal</li>
    <li>Explored various JavaScript frameworks(Astro JS, React, Vue)</li>
    <li>HTML/CSS/JS</li>
    <li>Arduino and Raspberry Pi</li>
    <li>3d Printing, Occasional CAD modeler</li>
    <li>Google Cloud Certified Digital Leader</li>
  </ul>
  <p></p>
  <h4>Education</h4>
  <p>
    Graduated in 2017 with a Bachelor's degree in Business Administration, with
    a concentration in Finance, from Georgia Southern University.
    <!-- My college years were not just
    about academics; I was actively involved in various organizations. From
    being the Executive Vice President of the Southern Investment Association to
    playing a pivotal role in the Pi Kappa Phi Fraternity, my leadership
    experiences have shaped me into the individual I am today. -->
  </p>

  <!-- <h4>Personal Projects & Achievements</h4>
  <p>
    Beyond the corporate world, I've embarked on personal projects that showcase
    my technical prowess. For instance, after receiving thousands of photos from
    my wedding, I developed a Bash script to efficiently organize and store
    them. Running challenges also excite me. A testament to this is my 102-day
    running streak, during which I covered over 362 miles! To add a data-driven
    touch to this achievement, I automated the collection of my running
    statistics and visualized them in a real-time dashboard.
  </p>
  <p>
    Feel free to explore my <a href="https://www.benbrannen.com"
      >personal website</a
    > to dive deeper into my projects and insights.
  </p> -->

  <h4>Let's Connect!</h4>
  <p>
    Whether you're here to explore collaboration opportunities, seek guidance,
    or simply connect, I'm always open to conversations. Reach out via <a
      href="mailto:benjamin.m.brannen@gmail.com">benjamin.m.brannen@gmail.com</a
    > or connect with me on <a href="https://linkedin.com/in/benjamin-brannen"
      >LinkedIn</a
    >.
  </p>
</Layout>
